#main-header{
  color: #fff;
  background-color: #01054c;
  padding-bottom: 20px;
}

#filter{
  margin-top: 25px;
}

.card{
  border: 1px solid #999;
  border-radius: 5px;

  padding: 0 20px;
  margin-top: 30px;
}

input.mr-2{
  display: inline-block;
  width: 300px;
}

.btn-dark{
  background-color: #000;
  color: #fff;
  font-weight: 700;
}

.btn-dark:hover{
  background-color: #01054c;
  color: #fff;
}

.list-group-item{
  position: relative;
}

.float-right{
  position: absolute;
  right: 10px;
  top: 5px;
}

@media screen and (max-width:449px) {
  .btn-dark{
    margin-top: 15px;
  }
  
}
